<!doctype html>
<html>
<head>
</head>
<body>
	<div>
		<h1>Welcome to average joe's site...</h1>
		<p>
			After you submit the login form, please make sure to store the
			password for autocomplete when asked by Chrome to do so.
		</p>
	</div>
	<div>
		<form method="post" action="">
			Username: <input id="username" name="username" type="text">
			Password: <input id="password" name="password" type="password">
			<input type="submit" name="submit" value="Submit">
		</form>
	</div>
</body>
</html>