<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h1>You have now logged in...</h1>
                <p>
                    Now imagine someone emailed you a link saying that you can find
                    something interesting articles at
                    <a href="/~mr-hacker/">/~mr-hacker/</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>